@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes heart-effect {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.bg-heart {
  background-image: url('/images/heart.png');
}

.animate-heart-effect {
  animation: heart-effect 2s infinite;
}